<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Phishing Link</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
  
</head>

<body>
 <div class="login">
	<h1 style="margin-bottom: 0">Predict Phishing Link</h1>
    <h3 style="margin-top: 0">by CS610-G1 AY2021/22-T3</h3>


     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
        <input type="text" name="url" placeholder="Paste or Key in URL" required="required" /><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   
 by <a href="https://www.linkedin.com/in/hengguang/">Sia Heng Guang</a>, 
 <a href="https://www.linkedin.com/in/leonard-cheng-018b78a0/">Leonard Cheng</a>,
 <a href="https://www.linkedin.com/in/yawen-ma/">Ma Yawen</a>
 , <a href="https://www.linkedin.com/in/radhe-venkatesan/">Radhe V.</a>

   
 </div>
 
 <h1> {{pred}} </h1>







</body>

</html>